<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
{%load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<head>
    <title> 
        {% block title %} Название {% endblock %} 
    </title>
</head>
<body>
    <header>
        {% include 'includes/header.html'%}
    </header>
<main>
    <h1>
    {% block content%}
        Наполнение
    {% endblock %}
    </h1>
</main>
<footer>
        {%include 'includes/footer.html'%}
</footer>
</body>
</html>