{% extends 'base.html' %}
{% load thumbnail %}
{%block title%}
  {{title}}
{%endblock%}

{%block content%}

    {% for post in posts %}
    <strong>

      Автор: <a href="{% url 'post:profile' post.author %}"> {{ post.author.get_full_name }}</a> , 

      Дата публикации: {{ post.pub_date|date:"d M Y" }}, 

      Группа: <a href="{% url 'post:Groups' post.group %}"> {{ post.group.title }} </a>

  </strong>

  <p>{{ post.text|linebreaksbr }}</p>

  {% thumbnail post.image "960x200" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}

      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  
  {% include 'post/includes/paginator.html'  %}
{%endblock%}