{% extends 'base.html' %}

{%block title%}
  {{title}}
{%endblock%}

{%block content%}

    {% for post in posts %}
    <strong>

      Автор: {{ post.author.get_full_name }}, 

      Дата публикации: {{ post.pub_date|date:"d M Y" }}, 

      Группа: <a href="{% url 'post:Groups' post.group %}"> {{ post.group.title }} </a>

  </strong>

  <p>{{ post.text|linebreaksbr }}</p>

      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  
  {% include 'post/includes/paginator.html'  %}
{%endblock%}